{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="home">
        {% comment %} <p>Default Delivery Information</p> {% endcomment %}
        <form class="pure-form" action="{% url 'contact' %}" method="POST" id="enquiries-form">
            {% csrf_token %}
            <fieldset>
                <legend>Contact Us</legend>
                <div class="form-field">{{ form.full_name|as_crispy_field }}</div>
                <div class="form-field">{{ form.email|as_crispy_field }}</div>
                <div class="form-field">{{ form.phone_number|as_crispy_field }}</div>
                <div class="form-field">{{ form.subject|as_crispy_field }}</div>
                <div class="form-field">{{ form.message|as_crispy_field }}</div>
                {% comment %} <div class="form-field">{{ form.signup|as_crispy_field }}</div> {% endcomment %}
            </fieldset>
            <button class="pure-button">Submit Enquiry</button>
        </form>
    </div>
{% endblock %}