{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        {% comment %} <p>Default Delivery Information</p> {% endcomment %}
        <form action="{% url 'contact_success' %}" method="POST" id="enquiries-form">
            {% csrf_token %}
            <fieldset>
                <legend>Contact Us</legend>
                {{ form.full_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.phone_number|as_crispy_field }}
                {{ form.subject|as_crispy_field }}
                {{ form.message|as_crispy_field }}
                {{ form.signup|as_crispy_field }}
            </fieldset>
            <button>Submit Enquiry</button>
        </form>
    </div>
{% endblock %}