{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="store-banner">
        <div class="home">
            <h3>Enquiries</h3>
            <div>
                <table class="pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>Enquiry Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Enquiry Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enquiry in enquiries %}
                            <tr>
                                <td>
                                    <a href="{% url 'enquiry' enquiry.enquiry_number %}"
                                    title="{{ enquiry.enquiry_number }}">
                                        {{ enquiry.enquiry_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ enquiry.create_date }}</td>
                                <td>{{ enquiry.full_name }}</td>
                                <td>{{ enquiry.subject }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}