{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="home-left">
        <div>
            <div>
                <hr>
                <h2>Thank You</h2>
                <hr>
                <p>Thank you for your enquiry. Our admins have been notified and the manner will be looked into as soon as we can.</p>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <h3 style="padding-bottom:10px">Enquiry Info</h3>
                        </div>
                    </div>

                    <div class="info-set">
                        <div>
                            <div>
                                <strong>Enquiry Number:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.enquiry_number }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Date:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.create_date }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Contact Name:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.full_name }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Contact Email:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.email }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Contact Number:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.phone_number }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Subject:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.subject }}</p>
                            </div>
                        </div>

                        <div>
                            <div>
                                <strong>Description:</strong>
                            </div>
                            <div>
                                <p>{{ enquiry.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}