{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="home">
    <div class="home-banner">
        <img class="cover-image" src="{{ MEDIA_URL }}drum_cover.jpg" alt="">
        <a class="cover-button" href="{% url 'store' %}">Store</a>
    </div>

    <div class="home-half">
        <div class="home-half-banner banner-left">
            <a href="{% url 'about' %}">About Us</a>
        </div>
    
        <div class="home-half-banner banner-right">
            <a href="{% url 'faq' %}">FAQ</a>
        </div>
    </div>

    <div id="reviews" class="home-banner"> 
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <p>Who knew this flugelhorn would change my life.</p>
                    <p>The amalgamation of the most perfect materials into a form that creates musical mastery.</p>
                    <p>I would highly recommend purchasing a flugelhorn from The Stave.</p>
                    <p>Fantastic quality that will endure the test of time, I am certain. Thank you!</p>
                    <p>Cat Rogers</p>
                </div>
                <div class="swiper-slide">
                    <p>The Stave is awesome!</p>
                    <p>They have a huge selection of instruments, and the quality is top-notch.</p>
                    <p>I bought a guitar, and it sounds amazing. Plus, their customer service is super helpful and shipping was really fast.</p>
                    <p>Highly recommend!</p>
                    <p>Colin Pilot</p>
                </div>
                <div class="swiper-slide">
                    <p>I came across The Stave as a experienced musician.</p>
                    <p>Learning about their rental service has changed my life and greatly helped for when I've given sole performances.</p>
                    <p>I have also used their auction page to acquire surprising instruments at a great price.</p>
                    <p>The Stave is a shop I would highly recommend and keep coming back to.</p>
                    <p>Marcus Parker</p>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            speed: 400,
            autoplay: {
                delay: 7500,
            },
          
            // If we need pagination
            pagination: {
              el: '.swiper-pagination',
            },
          
            // Navigation arrows
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
        });  
    </script>
{% endblock %}
