{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    {% comment %} <div class="profile-container" id="profile-banner">
        <div class="profile-information">
            <h3>Profile</h3>

            {{profile}}

            <div class="profile">
                <p>First Name:</p>
                <p>Surname:</p>
                <p>Date of Birth:</p>
            </div>

            <div class="profile-shipping-address">
                <h4>Shipping Address</h4>
            </div>

            <div class="profile-billing-address">
                <h4>Billing Address</h4>
            </div>
        </div>
        <div class="profile-order-history">
            <h3>Order History</h3>

            <div class="open-orders`">
                <h4>Open Orders</h4>
            </div>

            <div class="closed-orders`">
                <h4>Closed Orders</h4>
            </div>
        </div>
    </div> {% endcomment %}

    <div class="overlay"></div>
    <div>
        <div>
            <div>
                <hr>
                <h2>My Profile</h2>
                <hr>
            </div>
        </div>
        <div>
            <div>
                {% comment %} <p>Default Delivery Information</p> {% endcomment %}
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Personal Information</legend>
                        {{ form.user_title|as_crispy_field }}
                        {{ form.user_firstname|as_crispy_field }}
                        {{ form.user_surname|as_crispy_field }}
                        {{ form.default_phone_number|as_crispy_field }}
                        {{ form.default_email|as_crispy_field }}
                    </fieldset>

                    <fieldset>
                        <legend>Billing Information</legend>
                        {{ form.billing_postcode|as_crispy_field }}
                        {{ form.billing_town_or_city|as_crispy_field }}
                        {{ form.billing_street_address1|as_crispy_field }}
                        {{ form.billing_street_address2|as_crispy_field }}
                        {{ form.billing_county|as_crispy_field }}
                    </fieldset>

                    <fieldset>
                        <legend>Shipping Information</legend>
                        {{ form.shipping_postcode|as_crispy_field }}
                        {{ form.shipping_town_or_city|as_crispy_field }}
                        {{ form.shipping_street_address1|as_crispy_field }}
                        {{ form.shipping_street_address2|as_crispy_field }}
                        {{ form.shipping_county|as_crispy_field }}
                    </fieldset>
                    <button>Update Information</button>
                </form>
            </div>
            <div>
                <p>Order History</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul>
                                            {% for item in order.lineitems.all %}
                                                <li>
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}