{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div>
        <div>
            <div>
                <div>
                    {% if auction.image %}
                        <a href="{{ auction.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" alt="{{ auction.title }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ auction.title }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div>
                <div>
                    <p>{{ auction.title }}</p>
                    <p>End date: {{ auction.auction_period }}</p>
                    <p>{{ auction.remaining_days }} days left</p>

                    {% if auction.purchased %}
                        <p>Sorry, this product has ended.</p>
                    {% else %}
                        {% if auction_price  %}
                            <p>Current bid = £{{ auction_price }}</p>
                        {% else %}
                            <p>Bidder={{auction.bidders}}</p>
                            <p>Current price = £{{ auction.base_price }}</p>
                        {% endif %}
                    {% endif %}
                    
                    <p>Description:</p>
                    <p>{{ auction.description }}</p>
                    <p>Instrument: {{ auction.instrument}}</p>
                    <p>Condition: {{ auction.condition}}</p>
                    <p>Seller: {{auction.owner}}</p>

                    {% if auction.purchased %}
                        <p>Sorry. This product has been purchased.</p>
                    {% else %}
                        {% if request.user.is_authenticated%}
                            {% if request.user != auction.owner %}
                                <form class="pure-form" action="{% url 'add_bid' auction.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>
                                        <div>
                                            <p><strong>Enter bid:</strong></p>
                                            <div>
                                                <div>
                                                    <div class="form-field">{{ form.auction_price|as_crispy_field }}</div>
                                                    {% comment %} {% if auction.bidders.price  %}
                                                        <input type="number" min={{ auction.auction_price|add:1.0 }} value={{ auction.auction_price|add:1.0 }} step="0.01" name="quantity" data-item_id="{{ auction.id }}" id="id_qty_{{ auction.id }}">
                                                    {% else %}
                                                        <input type="number" min={{ auction.base_price }} value={{ auction.base_price }} step="0.01" name="quantity" data-item_id="{{ auction.id }}" id="id_qty_{{ auction.id }}">
                                                    {% endif %} {% endcomment %}
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <a class="pure-button" href="{% url 'auction' %}">
                                                <span>
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span>Keep Shopping</span>
                                            </a>
                                            <input class="pure-button" type="submit" value="Submit bid">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            {% else %}
                                <p>You product is active</p>
                            {% endif %}
                        {% else %}
                            <p>Please sign in to make a bid.</p>
                        {% endif %}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}