{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div>
        <div>
            <div>
                <div>
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank" aria-label="View a specific product details">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="" aria-label="View a specific product details">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div>
                <div>
                    <p>{{ product.name }}</p>
                    <p>£{{ product.price }}</p>
                    {% if product.category %}
                    <p>
                        <a href="{% url 'store' %}?category={{ product.category.name }}" aria-label="Filter the store by instrument category">
                            {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.has_sizes %}
                        <small><i></i>{{ product.size }} size</small>
                    {% endif %}
                    <p>{{ product.description }}</p>
                    {% if product.stock == 0 %}
                        <p>Product Unavailable</p>
                    {% else %}
                        <p>{{product.stock}} in stock</p>
                    {% endif%}
                    <form class="pure-form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <div>
                                <p><strong>Quantity:</strong></p>
                                <div>
                                    <div>
                                        <input type="number" name="quantity" value="1" min="1" max={{product.stock}} data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a class="pure-button" href="{% url 'store' %}" aria-label="Return to main store">
                                    <span>
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                                {% if product.stock == 0 %}
                                    <input class="pure-button" type="submit" value="Add to Bag" disabled>
                                {% else %}
                                    <input class="pure-button" type="submit" value="Add to Bag">
                                {% endif %}
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}