{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    {% comment %} <div class="categories">
        <div class="category-select">
            Strings
        </div>
        <div class="category-select">
            Brass
        </div>
        <div class="category-select">
            Woodwind
        </div>
        <div class="category-select">
            Percussion
        </div>
        <div class="category-select">
            Keyboards
        </div>
        <div class="category-select">
            Accessories
        </div>
    </div> {% endcomment %}

    <div>
        <p>The community auction is a place for users to sell and buy products from each other. To sell a user needs to have a profile and be logged in.</p>
        <p>Wether an item in bad condition being sold for spare parts or a unique item being sold for a collection you can sell and buy everything here.</p>
        <br>
        <p>If you have a enquiry about auctions please feel free to use the contact page here.</p>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'add_auction' %}" class="pure-button">
            Add Product
        </a>
    {% endif %}

    <div class="store-banner">
        {% for auction in auctions %}
        <div class="product-box">
            <div>
                <div>
                    {% if auction.image %}
                        <a href="{% url 'auction_detail' auction.id %}">
                            <img src="{{ auction.image.url }}" alt="{{ auction.title }}">
                        </a>
                    {% else %}
                        <a href="{% url 'auction_detail' auction.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ auction.title }}">
                        </a>
                    {% endif %}
                    <div>
                        <p>{{ auction.title }}</p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <p>£{{ auction.auction_price }}</p>
                                {% if auction.category %}
                                    <p>
                                        {% comment %} <a href="{% url 'products' %}?category={{ auction.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ auction.category.friendly_name }}
                                        </a> {% endcomment %}
                                    </p>
                                {% endif %}
                                <p>{{ auction.auction_period }}</p>
                                
                                {% if auction.purchased %}
                                    <p>Available</p>
                                {% else %}
                                    <p>Purchased</p>
                                {% endif %}

                                {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_auction' auction.id %}">Edit</a> | 
                                        <a href="{% url 'delete_auction' auction.id %}">Delete</a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}