{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div>
        <p>For most of our products we offer a rental service. This is particularly useful for smaller sizes to see if children want to play an instrument 
        without purchasing expensive equipment.</p>
        <p>We also offer high quality renowned instruments to rent. These have been used by prominant musicians for concerts and solo performances.</p>
        <br>
        <p>If you have a enquiry about rentals please feel free to use the contact page here.</p>
    </div>

    <div>
        <form class="pure-form" method="GET" action="{% url 'rental' %}">
            <div>
                <input type="text" name="q" placeholder="Search rentals">
                <div>
                    <button class="pure-button" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div>
            <div>
                <div>
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <p>
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'rental' %}" aria-label="Return to rentals page">Rentals Home</a> | </span>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="categories">
        <div class="category-select" id="rental-category-strings">
            <a href="{% url 'rental' %}?category=string_instruments" aria-label="Filter rentals page by String Instruments">
                <i class="fas fa-tag mr-1"></i>String Instruments
            </a>
        </div>
        <div class="category-select" id="rental-category-brass">
            <a href="{% url 'rental' %}?category=brass_instruments" aria-label="Filter rentals page by Brass Instruments">
                <i class="fas fa-tag mr-1"></i>Brass Instruments
            </a>
        </div>
        <div class="category-select" id="rental-category-woodwind">
            <a href="{% url 'rental' %}?category=woodwind_instruments" aria-label="Filter rentals page by Woodwing Instruments">
                <i class="fas fa-tag mr-1"></i>Woodwind Instruments
            </a>
        </div>
        <div class="category-select" id="rental-category-percussion">
            <a href="{% url 'rental' %}?category=percussion_instruments" aria-label="Filter rentals page by Percussion Instruments">
                <i class="fas fa-tag mr-1"></i>Percussion Instruments
            </a>
        </div>
        <div class="category-select" id="rental-category-keyboards">
            <a href="{% url 'rental' %}?category=keyboard_instruments" aria-label="Filter rentals page by Keyboard Instruments">
                <i class="fas fa-tag mr-1"></i>Keyboard Instruments
            </a>
        </div>
    </div>

    <div class="store-banner">
        {% for rental in rentals %}
            <div class="product-box">
                <div>
                    <div>
                        {% if rental.product.image %}
                            <a href="{% url 'rental_detail' rental.product.id %}" aria-label="View a specific product details">
                                <img src="{{ rental.product.image.url }}" alt="{{ rental.product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'rental_detail' rental.product.id %}" aria-label="View a specific product details">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ rental.product.name }}">
                            </a>
                        {% endif %}
                        <div>
                            <div>
                                <div>
                                    <p>{{rental.product.name}}</p>
                                    <p>{{ rental.product.category.friendly_name}}</p>
                                    {% if rental.product.has_sizes%}
                                        <p>{{rental.product.size}}</p>
                                    {% endif %}
                                    <p>£{{ rental.rental_price }} per week</p>
                                    {% if rental.product %}
                                        <p>
                                            {% comment %} <a href="{% url 'products' %}?category={{ auction.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ auction.category.friendly_name }}
                                            </a> {% endcomment %}
                                        </p>
                                    {% endif %}
                                    {% comment %} <p>{{ auction.auction_period }}</p> {% endcomment %}
                                    <p>{{ rental.rental_stock }} in stock</p>
                                    {% if rental.has_premium %}
                                        <p>Premium available</p>
                                    {% else %}
                                        <p>No Premium available</p>
                                    {% endif %}

                                    {% if request.user.is_superuser %}
                                        <small>
                                            <a href="{% url 'edit_rental' rental.id %}" aria-label="Edit a rental product details">Edit</a> | 
                                            <a href="{% url 'delete_rental' rental.id %}" aria-label="Remove a product from the rentals store">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}