{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="pure-group">
        <p>In our store you can find all of our new products, seperated out into their respective instrument families.</p>
        <p>Our products are all high quality and when available sizes are offered to make sure the right product fits the right user.</p>
        <p>We hope you enjoy browsing.</p>
        <br>
        <p>If you have a enquiry about our products please feel free to use the contact page here.</p>
    </div>

    <div>
        <form class="pure-form" method="GET" action="{% url 'store' %}">
            <div>
                <input type="text" name="q" placeholder="Search the store">
                <div>
                    <button class="pure-button" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div>
            <div>
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div>
            <p>
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'store' %}" aria-label="Return to main store page">Store Home</a> | </span>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="categories">
        <div class="category-select" id="store-category-strings">
            <a href="{% url 'store' %}?category=string_instruments" aria-label="Filter rentals page by String Instruments">
                String Instruments
                <img style="height:70%" src="{{ MEDIA_URL }}icon-violin-bnw.png" alt="String Instruments">
            </a>
        </div>
        <div class="category-select" id="store-category-brass">
            <a href="{% url 'store' %}?category=brass_instruments" aria-label="Filter rentals page by Brass Instruments">
                Brass Instruments
                <img style="height:70%" src="{{ MEDIA_URL }}icon-trumpet-bnw.png" alt="Brass Instruments">
            </a>
        </div>
        <div class="category-select" id="store-category-woodwind">
            <a href="{% url 'store' %}?category=woodwind_instruments" aria-label="Filter rentals page by Woodwind Instruments">
                Woodwind Instruments
                <img style="height:70%" src="{{ MEDIA_URL }}icon-oboe-bnw.png" alt="Woodwind Instruments">
            </a>
        </div>
        <div class="category-select" id="store-category-percussion">
            <a href="{% url 'store' %}?category=percussion_instruments" aria-label="Filter rentals page by Percussion Instruments">
                Percussion Instruments
                <img style="height:70%" src="{{ MEDIA_URL }}icon-drums-bnw.png" alt="Percussion Instruments">
            </a>
        </div>
        <div class="category-select" id="store-category-keyboards">
            <a href="{% url 'store' %}?category=keyboard_instruments" aria-label="Filter rentals page by Keyboard Instruments">
                Keyboard Instruments
                <img style="height:70%" src="{{ MEDIA_URL }}icon-piano-bnw.png" alt="Keyboard Instruments">
            </a>
        </div>
    </div>

    <div class="store-banner">
        {% for product in products %}
        <div class="product-box">
            <div>
                <div>
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="View a specific product details">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="View a specific product details">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div>
                        <p>{{ product.name }}</p>
                        <p>{{ product.category.friendly_name}}</p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <p>£{{ product.price }}</p>
                                {% if product.has_sizes %}
                                    <small>{{ product.size }} size</small>
                                {% endif %}
                                <p>{{ product.stock }} in stock</p>
                                {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}" aria-label="Edit a products details">Edit</a> | 
                                        <a href="{% url 'delete_product' product.id %}" aria-label="Delete a product from the main store">Delete</a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% comment %} {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
            {% endif %}                        
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
            {% endif %} {% endcomment %}
        {% endfor %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}