{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="categories">
        <div class="category-select">
            Strings
        </div>
        <div class="category-select">
            Brass
        </div>
        <div class="category-select">
            Woodwind
        </div>
        <div class="category-select">
            Percussion
        </div>
        <div class="category-select">
            Keyboards
        </div>
        <div class="category-select">
            Accessories
        </div>
    </div>

    <div class="store-banner">
        <p>Auction</p>
        {% for auction in auctions %}
        <div class="product-box">
            <div>
                <div>
                    {% if auction.image %}
                        <a href="{% url 'product_detail' auction.id %}">
                            <img src="{{ auction.image.url }}" alt="{{ auction.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' auction.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ auction.title }}">
                        </a>
                    {% endif %}
                    <div>
                        <p>{{ auction.name }}</p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <p>${{ auction.price }}</p>
                                {% if auction.category %}
                                    <p>
                                        {% comment %} <a href="{% url 'products' %}?category={{ auction.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ auction.category.friendly_name }}
                                        </a> {% endcomment %}
                                    </p>
                                {% endif %}
                                {% if auction.rating %}
                                    <small><i class="fas fa-star mr-1"></i>{{ auction.rating }} / 5</small>
                                {% else %}
                                    <small>No Rating</small>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <small>
                                        {% comment %} <a href="{% url 'edit_product' auction.id %}">Edit</a> | 
                                        <a href="{% url 'delete_product' auction.id %}">Delete</a> {% endcomment %}
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}