{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
            <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

            <!-- Stripe -->
            <script src="https://js.stripe/v3/"></script>

            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        {% endblock %}
        {% block extra_js %}
            <script src="{% static 'js/toastr.js' %}"></script>  
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
        <title>The Stave {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav id="navbar">
                <!-- Header mainbar with links to Stores and Enquires pages -->
                <div id="mainbar">
                    <div id="mainbar-store">
                        <ul class="nav-ul">
                            <li class='nav-link'><a href="{% url 'store' %}">Store</a></li>
                            <li class='nav-link'><a href="{% url 'rental' %}">Rentals</a></li>
                        </ul>
                    </div>
                    <div id="mainbar-title">
                        <a id="main-logo" href="{% url 'home' %}">The Stave</a>
                    </div>
                    <div id="mainbar-support">
                        <ul class="nav-ul">
                            <li class='nav-link'><a href="{% url 'auction' %}">Auction</a></li>
                            <li class='nav-link'><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Header subbar with User Profile dropdown and Shopping Cart link -->
                <div id="subbar" class="pure-menu pure-menu-horizontal">
                    <div class="subbar-content">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                            <a href="#" id="menuLink1" class="pure-menu-link"><box-icon name='user-account' type='solid' animation='tada-hover' color='#ffffff'></box-icon></a>
                            <ul class="pure-menu-children">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <li class="pure-menu-item">
                                        <a href="{% url 'add_product' %}" class="pure-menu-link">Add a product</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="{% url 'add_rental' %}" class="pure-menu-link">Add a rental</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="{% url 'enquiries' %}" class="pure-menu-link">Enquiries</a>
                                    </li>
                                    {% endif %}
                                    <li class="pure-menu-item">
                                        <a href="{% url 'profile' %}" class="pure-menu-link">My Profile</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="{% url 'account_logout' %}" class="pure-menu-link">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="pure-menu-item">
                                        <a href="{% url 'account_signup' %}" class="pure-menu-link">Register</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="{% url 'account_login' %}" class="pure-menu-link">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="pure-menu-item pure-menu-selected">
                            <a href="{% url 'cart' %}" class="pure-menu-link"><box-icon name='cart-alt' animation='tada-hover' color='#ffffff'></box-icon><small class="cart-quantity">{{product_count}}</small></a>
                        </li>
                    </ul>
                    
                </div>
                </div>
            </nav>
        </header>

        <!-- Content for page title, not used in this project -->
        {% block page_header %}
        {% endblock %}

        <!-- Content for main body, called from other pages via Django templates -->
        <div class="main-outlet">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Toast notifications with levels -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'info' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'warning' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'error' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Footer -->
        <footer>
            <!-- Footer mainbar with links to all of the website -->
            <div class="footer-top">
                <div class="footer-content">
                    <div class="footer-content-panel">
                        <h3>Company</h3>
                        <a href="{% url 'about' %}" class="about">About Us</a>
                        <a href="{% url 'faq' %}" class="faq">FAQ</a>
                    </div>
                    <div class="footer-content-panel">
                        <h3>Support</h3>
                        <a href="{% url 'privacy' %}" class="privacy">Privacy Policy</a>
                        <a href="{% url 'cookies' %}" class="cookies">Cookie Policy</a>
                        <a href="{% url 'contact' %}" class="contact">Contact Us</a>
                    </div>
                    <div class="footer-content-panel">
                        <h3>Experience</h3>
                        <a href="{% url 'store' %}" class="shop">Shop</a>
                        <a href="{% url 'rental' %}" class="shop">Rentals</a>
                        <a href="{% url 'auction' %}" class="shop">Auction</a>
                    </div>
                </div>
            </div>
            <!-- Footer subbar, has external links to social media accoutns -->
            <div class="footer-bottom">
                <div class="footer-media">
                    <div class="footer-media-content">
                        <a href="https://www.facebook.com" target="_blank">
                            <box-icon class="icon" name='facebook' type='logo' animation='tada-hover' color='#56666b' ></box-icon>
                        </a>
                        <a href="https://x.com" target="_blank">
                            <box-icon name='twitter' type='logo' animation='tada-hover' color='#56666b' ></box-icon>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <box-icon name='instagram' type='logo' animation='tada-hover' color='#56666b' ></box-icon>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank">
                            <box-icon name='youtube' type='logo' animation='tada-hover' color='#56666b' ></box-icon>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank">
                            <box-icon name='linkedin' type='logo' animation='tada-hover' color='#56666b' ></box-icon>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JS Scripts -->
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>