{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

            {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> {% endcomment %}

            {% comment %} <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"> {% endcomment %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe/v3/"></script>
            <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}

        <title>The Stave {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav id="navbar">
                <div id="mainbar">
                    <div id="mainbar-store">
                        <ul class="nav-ul">
                            <li class='nav-link'><a href="{% url 'store' %}">Store</a></li>
                            <li class='nav-link'><a href="#">Rentals</a></li>
                        </ul>
                    </div>
                    <div id="mainbar-title">
                        <a id="main-logo" href="{% url 'home' %}">The Stave</a>
                    </div>
                    <div id="mainbar-support">
                        <ul class="nav-ul">
                            <li class='nav-link'><a href="{% url 'about' %}">About Us</a></li>
                            <li class='nav-link'><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div id="subbar">
                    <div>
                        {% comment %} <a class='subbar-link' href="{% url 'profile' %}"><img src="{% static 'images/bxs-user-account.svg' %}" alt="My Account"></a> {% endcomment %}
                        
                        {% if request.user.is_authenticated %}
                            {% comment %} {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                            {% endif %} {% endcomment %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                        
                        <a class='subbar-link' href="{% url 'cart' %}"><img src="{% static 'images/bx-shopping-bag.svg' %}" alt="Shopping Bag"></a>
                    </div>
                </div>
            </nav>
        </header>

        {% block page_header %}
        {% endblock %}

        <div class="page-body"></div>
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div id="footer-content">
                <div id="footer-company">
                    <h3>Company</h3>
                    <a href="{% url 'about' %}" class="about">About Us</a>
                    {% comment %} <a href="#" class="careers">Careers</a> {% endcomment %}
                    <a href="{% url 'privacy' %}" class="privacy">Privacy Policy</a>
                    <a href="{% url 'cookies' %}" class="cookies">Cookie Policy</a>
                    <a href="{% url 'contact' %}" class="contact">Contact Us</a>
                </div>
                <div id="footer-instruments">
                    <h3>Instruments</h3>
                    <a href="#" class="lifetime">Lifetime</a>
                    <a href="#" class="guarantee">Guarantee</a>
                </div>
                <div id="footer-support">
                    <h3>Support</h3>
                    {% comment %} <a href="#" class="recall">Product Recall</a> {% endcomment %}
                    {% comment %} <a href="#" class="registration">Product Registration</a> {% endcomment %}
                    <a href="{% url 'warranty' %}" class="warranty">Warranty</a>
                    {% comment %} <a href="#" class="parts-and-tools">Parts & Tools</a> {% endcomment %}
                    <a href="{% url 'returns' %}" class="returns">Webstore Returns</a>
                    <a href="{% url 'returnstart' %}" class="return">Start a Webstore Return</a>
                    <a href="{% url 'faq' %}" class="faq">FAQ</a>
                </div>
                <div id="footer-experience">
                    <h3>Experience</h3>
                    {% comment %} <a href="#" class="retailers">Find a retailer</a> {% endcomment %}
                    <a href="{% url 'store' %}" class="shop">Shop</a>
                    <a href="{% url 'stories' %}" class="stories">Stories</a>
                </div>
            </div>
            <div id="footer-media">
                <div id="footer-media-content">
                    <a href="#">F</a>
                    <a href="#">X</a>
                    <a href="#">I</a>
                    <a href="#">Y</a>
                    <a href="#">E</a>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}
    </body>
</html>