.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin: 2%;
}

.categories {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin: 2%;

    text-align: center;
}

.category-select {
    height: 150px;
    width: 150px;
    border: 1px solid #2F394D;

    border-radius: 5px;
} 

.category-select:hover {
    border: 2px solid #2F394D;
} 

.store-banner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin: 2%;

    text-align: center;

    /* background: lightblue; */

    /* min-height: 100vh; */
}

.product-box {
    width: 150px;
    height: 175px;
    border: 1px solid brown;
}

.product-box:hover {
    border: 2px solid brown;
}

.store-split {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {	
}

@media screen and (min-width: 768px) { 
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
